:root{
  --primary:#d0ad6c;
  --background: #363435;
  --title: #FEFEFD;
  --paragraph:#c8c9cd;
  --gradient: #898B93;
  --card-color:#191713;
}
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font: 400 1rem 'hahmlet';
  color: var(--paragraph);
  text-align: center;
  background-color: var(--background);
}

/*floating button*/
#whatsapp{
  position: fixed;
  width: 5rem;
  bottom: 2rem;
  right: 2rem;
  z-index: 3;
}

/*  HOME */
.home{
  height: 100vh;
  background-image: url(assets/Home-BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 65%;
}

  /* header */
    /* navigation */
ul.navbar-nav{
  margin: auto;
  
}

#navigation li a{
  color: var(--primary);
}
.navbar-dark .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28208, 173, 108, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-toggler{
  border-style: none;
}

  /* home content */
.home-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-content img{
  width: 15rem;
  margin-inline: auto;
}
h1{
  font: 700 4rem 'hahmlet';
  color:var(--title)
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}
.buttons button{
  width: 10rem;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: none;
  background-color: var(--primary);
  transition: all 300ms;
}
  .buttons button:hover{
    transform: scale(1.1);
    transition: all 300ms;
  }
.buttons button a{
  color: var(--background);
  text-decoration: none;
}


/*SOBRE NOS*/
section.sobreNos{
  position: relative;
  bottom: 2rem;
  padding: 5rem 7rem 0;
  border-radius: 25px;
  box-shadow: 0px -10px 10px -5px  black;
  background-color: var(--background);
}
h2, h3{
  text-transform: uppercase;
  margin-inline: auto;
  margin-bottom: 2rem;
  width: fit-content;
  color: var(--title);
  border-bottom: solid 4px var(--primary);
}
 h3{
  border-bottom-width: 2px;
  margin-top: 3rem;
  font-size: 1.2rem;
}
p, li{
  text-align: justify;
}

/*SERVIÇOS*/
#dicas{
  margin-top: 3rem;
}
  /*cards*/
.cards{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.card{
  width: 30%;
  height: 30rem;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0px 0px 10px -5px black;
  background-color: var(--card-color);
  overflow-y: auto;
  
}
  .card::-webkit-scrollbar{
    visibility: hidden;
  }
i.card-icon{
  font-size: 7rem;
  color: var(--primary);
}
p.card-title{
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary);
}
p.card-text{
  text-align: center;
}

/*DICAS IMPORTANTES section-2*/
.translate{
  width: 100%;
  height: 1rem;
  position: relative;
  bottom: -1rem;
  box-shadow: 0 10px 10px -5px black;
  border-radius: 0px 0px 25px 25px;
  background-color: var(--background);
  z-index: 2;
}
section.dicas{
  position: relative;
  height: 100vh;
  background-image: url(assets/airport.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 7rem;
}
section.dicas p{
  padding-bottom: 2rem;
}

/*CONTATO E FORMULÁRIO*/
section.contato-forms{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'contato forms';
}
.h2-pequeno{
  font-size: 1.4rem;
}
.contato{
  grid-area: 'contato';
  background-color: var(--background);
  margin-inline: auto;
  padding-top: 2rem;
}
.contato p{
  color: var(--gradient);
}
  .contato-informação{
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .contato-informação i{
    font-size: 2rem;
    color: var(--primary);
  }
  p.informações-subtitulo{
    font-weight: 700;
    font-size: 1rem;
  }


/*FORMULÁRIO*/
.formulario{
  grid-area: 'forms';
  background-image: linear-gradient(60deg, var(--background), var(--gradient));
  background-size: 100% 200%;
  padding-top: 2rem;
}
.enviar-form-titulo{
  border: none;
  color: var(--background);
}
form{
  width: 70%;
  margin-inline: auto;
}
label{
  text-align: left;
  display: block;
  color: var(--background);
  font-weight: 700;
}
input, textarea{
  width: 100%;
  height: 2.5rem;
  border-radius: 10px;
  background-color: var(--background);
  border-style: none;
  margin-bottom: 1rem;
}
textarea{
  height: 7rem;
}

.form-button{
  width: 100%;
  height: 2.5rem;
  border-style: none;
  border-radius: 10px;
  background-color: var(--primary);
  transition: all 300ms;
}
  .form-button:hover{
    background-color: var(--background);
    color: var(--primary);
    transition: all 300ms;
  }

/*FOOTER*/
footer{
  height: 100%;
  background-color: var(--primary);
  padding: 5rem 7rem;
}

footer div{
  display: flex;
  justify-content: space-between;
}
footer div img{
  width: 5rem;
}
footer div p{
  font: 700 1rem 'hahmlet';
  color: var(--background);
  align-self: center;
}


/*RESPONSIVIDADE*/
@media screen and (max-width:768px) {
  h1{
    font-size: 3rem;
  }
  section.sobreNos{
    padding: 4rem;
  }
  .cards{
    display: block;
  }
  .card{
    width: 80%;
    margin-bottom: 2rem;
    margin-inline: auto;
  }
  section.dicas{
    height: 100%;
  }
  section.dicas p{
    padding-bottom: 1rem;
  }
  section.contato-forms{
    grid-template-columns: 1fr;
    
    grid-template-areas: 
      'contato'
      'forms';
  }
  form{
    width: 85%;
    padding-bottom: 2rem;
  }
  footer{
    height: 100%;
    padding: 2rem;
  }
  footer div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  footer div img{
    width: 5rem;
  }
  #whatsapp{
    width: 4rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
@media screen and (max-width:425px){
  h1{
    font-size: 2rem;
  }
  .buttons button{
    width: 8rem;
    font-size: 0.8rem;
  }
  section.sobreNos, section.dicas{
    padding: 2rem;
  }
  .card{
    width: 100%;
  }
  section.dicas{
    background-position: 35% center;
    
  }
  .contato{
    padding-inline: 1rem;
  }
  .contato-informação i{
    font-size: 1.2rem;
  }
  #whatsapp{
    width: 3rem;
    bottom: 1rem;
    right: 1rem;
  }
}